/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  Main Hero Image Contact
    5.  Why Couples Resort
    6.  About & FAQ
    7.  Contact Form
    8.  Footer 
 */


 /* 1. ---General Styles--- */

#mobile-outline /*outline of the container, looks like a phone*/{
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;/*TRBL: top, right, bottom, left. auto=fills the full space in the conatiner width wise. Fits to edges, auto-centre*/
   border-radius: 10px;
} 

body /*sets the text colour and font stack*/{
   color: #626262;
   font-family: 'Sanchez', 'Times New Roman', serif;
}

a /*styles the links to have no underline*/{
   text-decoration: none;
   transition: all .5s ease-in-out;
}

input, textarea /*styles the form*/ {
   display: block; /*forms are inline by default. ovveride the eleements to position vertically by using a block level rule. Forces the items to stack*/
   margin: 0;
   padding: 0;
}

.cr-red {
   color: #9a2018;
}

.red-body {
   font-size: 12pt;
   color: #B50202;
}


/* 2. ---Main Nav / toggle menu--- */


#main-nav label img {
   width: 20px;
   height: 20px;
   margin-top: 15px;
   cursor: pointer;
   transition: all .5s ease;
   margin-bottom: 20px; 
} 

#main-nav input, #burger-con { /*makes the checkbox icon invisible but active and the unordered list (menu)*/
   display: none;
}


/*   ~ sibling selector. the input and #burger-con are siblings, the children of <nav id= "main-nav"*/

#main-nav input:checked ~ #burger-con { /*this rule only applies when the box is checked. default checkbox display is none, when it is checked we are specifying to display block*/
   display: block;
}

#main-nav input:checked ~ label img { /*this rule only applies when the box is checked. make the icon turn 90 degress*/
   transform: rotate(90deg);
}

/*add base styles and remove underlines and bulets*/
#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li { /*add bordr bottom to each list item to make it look like buttons*/
   border-bottom: 1px solid #efefef;
}

#main-nav ul li a {
   display: block; /*display the items in the div stacked ontop of eachother*/
   padding: 10px 0 10px 0;
   text-align: center;
   color: #626262;
}

/*target the first child of the parent. in this case. parent= ul li,1st child: <a> home*/
#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

/*add space below the final item of the list and the logo. Specify parent' ul li last child: reservations*/
#main-nav ul li:last-child {
   margin-bottom: 10px;
} 



#logo {
   margin-bottom: 20px;
   max-width: 382px; /*must define the width of an svg or it will take up the entire space of the section it is in*/
}


/* 3. ---Main Hero Image--- */

#hero {
   height: 200px; /*set the height of the section. default would only be as high as the text content height must = height of image*/
   background: url(../images/dining-hero-img.jpg); /*no '' necessary. exception to the rule. redirects to main folder  = ../ must redirect because we a realtively in the css folder, must exit css folder>main folder>images to retrieve the image.*/
}

.book-now {
   /*base styling*/
   background-color: #9a2018;
   color: #fff;
   font-size: 16px;
   font-style: italic;
   cursor: pointer;
   display: flex; /*makes the content within the div class ='book-now' the only element inside the div is a <p> the text. therfore it will take up as much as it needs in the div*/
   justify-content: center;/*centers the text along the main axis (y-axis)*/
   align-items: center;/*centers the text horizontally alng the x-axis*/
   /*transition styling*/
   transition: background-color 500ms linear;
   transition: all 0.3s ease;
}

.book-now:hover {
   background-color: rgb(196, 28, 28);
}

#book-now-hero {
   height: 67px;
}

#hero-heading-box {
   align-self: end; /*force the header container for only the hero heading down. force to end of parent container.*/
}

/*styling the section headers. since they will all be the same, only need to specify two classes. can use this class for other headers in the html*/
.hero-img-h2, .hero-img-h3 /*style the white box ie. container*/{
   background: #fff;
   padding: 10px 15px;
   font-size: 14px; /*default h2 is larger than h3 but this overrides that*/ 
}
.hero-img-h2 span, .hero-img-h3 span /*styles the text only inside the span so the content after<br>will not be styled*/ /*any span tag within the class of hero-img-h2 and h3 will be styled with this*/ {
   color: #9a2018;
}


.line-separator {
   margin-top: 20px;
   border-top: solid 3px #CF6666;
   padding-top: 20px;
}

#hero-summary p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;
}

/* 4. ---Main Hero Image Contact--- */

.fas /*styles the icon*/ {
   margin: 0 auto;
   float: left;
}

.fa-mobile-alt /*positons the icon*/ {
   margin-right: 10px;
   margin-left: 3px;
   margin-bottom: 20px;
}

.fa-map-marker-alt {
   margin-right: 10px;
}

#contact {
   font-size: 11px;
   background-color: #efefef;
   padding-top: 30px;
   padding-bottom: 30px;
}

/* 5. ---Why Choose Us--- */

#why-choose-us-nav {
   padding-top: 20px;
}

#why-choose-us-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#why-choose-us-nav ul li {
   margin-bottom: 15px;
}

#why-choose-us-nav ul li a {
  color: inherit;
  padding: 5px;
}

#why-choose-us-nav ul li a.selected /*for when you are on hte contact page it adds a border left to the element if selected*/ {
   border-left: #9a2018 solid 5px;
}


#why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
   text-align: center;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
}


#why-choose-us-heading-box {
   align-self: end;
}

.why-choose-us-image {
   float: left; /*floats as far left as it can*/
   margin-right: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con h2 {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 30px;
}

.why-choose-us-image-con p {
   font-size: 12px;
   margin-bottom: 20px;
   line-height: 20px;
}


#s2 {
   padding-bottom: 13pt;
}

/* 6. ---About & FAQ--- */

/*ENTREES*/
#entrees-hero-con {
   height: 229px;
   background: url(../images/ds3-img.jpg) no-repeat;
}

#entrees-heading-box {
   align-self: end;
}

#entrees-text {
   padding-bottom: 15px;
}

#entrees-text p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

/*STARTERS*/
#starters-hero-con {
   height: 225px;
   background: url(../images/ds4-img.jpg) no-repeat;
}

#starters-heading-box {
   align-self: end;
}

#starters-text {
   padding-bottom: 15px;
}

#starters-text p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

/*DESSERTS*/
#desserts-hero-con {
   height: 229px;
   background: url(../images/ds5-img.jpg) no-repeat;
}

#desserts-heading-box {
   align-self: end;
}

#desserts-text {
   padding-bottom: 15px;
}

#desserts-text p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}


#faq-con {
   background-color: #f4f4f4;
   padding-top: 35px;
   padding-bottom: 30px;
}

#faq-con h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

#faq-con h2 span {
   color: #9a2018;
   font-size: 16px;
}

.faq-items {
   margin-bottom: 16px;
}

.faq-items h3 {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.faq-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.faq-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   

.faq-items a {
   color: inherit;
   font-size: 13px;
}

#faq-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}


/* 7. ---Contact--- */

#contact-hero-con {
   height: 195px;
   background: url(../images/contact-hero.jpg) no-repeat;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

/*styling the contact form*/
#contact-hero-form form /*style only the form within the contact container*/{
   display: flex; /*flex spans the full width of the container, minding padding margins of container*/
   flex-direction: column; /*forms deafult inline display. we want the elements of the form to be stacked so we need to specify the flex direction to column*/ 
}
#contact-hero-form input, textarea /*styles the imput tag within the contact-hero-form, and the textarea tag*/ {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   /*the body text styling will not cascade into the input tag so we must ovveride it*/
   font: inherit; /*input will take on the parent container text styling which it got from the body text styling*/
}
#contact-hero-form textarea /*descendant selector, only the textarea will be styled. the area by default is only as large as the text within it. must style this larger by ovveriding the default.*/{
   height: 250px; /*default browser setting provides resize option*/
}
#contact-hero-form input[type="submit"] /*[] style very specific elements*//*style the submit button*//*only and input tag with the type=submit will be styled within the contact-hero-form*/{
   padding: 12px 28px;
   background: #9a2018;
   color:#fff;
   border: none; /*we previously styled the parent form with borders so we need to take it off the button*/
   width: 150px; /*set the width of the button*/
   align-self: flex-end; /*will align the button to the very end of the flex container of the form*/
}



/* 8. ---Footer--- */

#footer-hero {
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
   background: url(../images/footer-mt.jpg) no-repeat;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}